<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center top-container">
        <div class="col-5 text-center">
            <p class="fw-bold text-primary text">کالکشن تابستان <br><br><span class="year-text">2022</span></p>
            <p class="my-4 text-2">زیبایی و راحتی را با کفش های نایک سری تابستان تجربه کنید. طرافت و نرم بودن این کفش ها باعث میشوند حس کنید کفشی در پا ندارید</p>
            <button class="btn btn-primary bt" routerLink="/product-pages">همین حالا خرید کن</button>
        </div>
        <div class="col-7">
            <img src="../../../assets/img/Group 5.png" alt="img" class="img-fluid">
        </div>
        <div class="row recent" >
            <div class="col-7">
            </div>
            
        </div>    
    </div>
    
</div>