<div class="container" id="#weblog">
    <div class="row">
        <h2 class="fw-bold text-center">
            وبلاگ
        </h2>
    </div>
    <div class="row top-container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                 <div class="item">
                        <div class="text">1</div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                 <div class="item">
                        <div class="text">1</div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                 <div class="item">
                        <div class="text">1</div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                 <div class="item">
                        <div class="text">1</div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                 <div class="item">
                        <div class="text">1</div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                 <div class="item">
                        <div class="text">1</div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                 <div class="item">
                        <div class="text">1</div>
                    </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>