<div class="container-fluid bg-primary">
    <div class="row justify-content-center align-items-center">
        <div class="col-4 img-holder">
            <img src="../../../assets/img/Rectangle 33.png" alt="map" class="img-fluid">
        </div>
        <div class="col-2"></div>
        <div class="col-1 weblog">
           <p> <a href="#" class="text-white fw-bold text-center text">وبلاگ</a> </p>
           <br>
           <p> <a href="#" class="text-white fw-bold text-center text">وبلاگ</a> </p>
           <br>
           <p> <a href="#" class="text-white fw-bold text-center text">وبلاگ</a> </p>
           <br>
           <p> <a href="#" class="text-white fw-bold text-center text">وبلاگ</a> </p>
        </div>
        <div class="col-1"></div>
        <div class="col-4 mb-5">
            <div class="card bg-white rounded shadow p-3 mb-5 info-card">
                <div class="icon-box d-flex ">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><i class="fa-brands fa-google text-primary"></i></button>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><i class="fa-brands fa-facebook text-primary"></i></button>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><i class="fa-brands fa-whatsapp text-primary"></i></button>
                </div>
                <br>
                <div class="inforamtion">
                    <p>شماره ی تماس: <span>+098123456789</span></p>
                    <p>فکس : <span>8123456789</span></p>
                    <p> آدرس: <span>تهران</span></p>
                    <p> پشتیبانی: <span>+098123456789</span></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>