<!-- <div class="card bg-white p-3 purchased-product ">
    <div class="box">
        <div class="d-flex-9 p-3">
            <div class="d-flex9 info">
                <p class="text-align-right fw-bold">
                    {{item?.Name}}
                </p>
                <div class="d-flex-5">
                    <div class="col1">
                        <p><span>سایز:</span>
                            <input type="number" [value]="38" readonly>
                        </p>
                        <span>رنگ :</span>
                        <span class="lo">{{item.color}}<div class="color-box bg-primary"></div></span>
                        
                    </div>
                    <div class="col2">

                        <p><span>تعداد:</span>
                            <input type="number" [value]="item.Count" readonly >
                        </p>
                        
                        
                        <span class="fw-bold">{{item.price}}</span>
                        <span>قیمت :</span>
                    </div>
                </div>
            </div>
            
            <div class="line2"></div>
            <img [src]="item.image" alt="al" class="img">
            <button class="delete" (click)="del(item.id)">حذف</button>
            <button class="plus" (click)="add()">+</button>
            <button class="mines" (click)="sub()">-</button>
        </div>
    </div>
</div> -->