<div class="container my-5">
    <div class="row">
        <h2 class="fw-bold text-center">
            ارسالی مشتریان
        </h2>
    </div>
    <div class="row row-1 justify-content-center align-items-center ">
        <div class="col-1">
            <img class="img-container" src="../../../assets/img/Rectangle 24.png" alt="img">
            <br><br>
            <img class="img-holder" src="../../../assets/img/Rectangle 29.png" alt="img">
        </div>
        <div class="col-2 " ></div>
        <div class="col-4  img-container">
            <img src="../../../assets/img/Rectangle 26.png" alt="img">
            <br><br>
            <div class="d-flex ">
                <img src="../../../assets/img/Rectangle 25.png" alt="img">
                <div>
                 <img src="../../../assets/img/Rectangle 27.png" alt="img">
                 <br><br>
                 <img src="../../../assets/img/Rectangle 28.png" alt="img">
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>