@media screen and (max-width: 1990px) {
    .text{
        font-size: 50px;
    }
}
@media screen and (max-width: 600px) {
    .top-container {
        display: flex;
        flex-direction: column;
    }
    
    .text-holder{
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .text{
        font-size: 30px;
    }
}
