<div class="bg-primary ">
    <div class="container p-5 ">
        <div class="row justify-content-center align-items-center top-container">
            <div class="col-3 text-holder">
                <p class="fw-bold text-center text-white text">به زودی</p>
                <img src="../../../assets/img/Rectangle 18 (s4).png" alt="">
            </div>
            <div class="col-2"></div>
            <div class="col-7 img-holder">
                <img src="../../../assets/img/Rectangle 31.png" alt="" class="img-fluid">
            </div>
        </div>
    </div> 
</div>